body {
    background-color: rgba(0, 0, 0, 0.801);
}
h1 {
    font-family:cursive;
    margin:0% 30% 3% 30%;
    font-size: 50px;
    color: white;
}
h2{
    font-family: cursive;
    color:white;
    margin:2% 20% 0% 20%;
    border-left: rgb(255,255,255) 3px solid;
    padding:0px 10px 0px 10px;
    
}
p,ul{
    color:rgba(255, 255, 255, 0.863);
    font-family:cursive;
    margin:0% 21% 0% 21%;
}
b{
    font-size: 18px;
    color: white;
}
